{% load static %}
<!DOCTYPE html>
<html>
  <title>IRFoton - Registracija</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
  <link rel="stylesheet" href="{% static 'irfoton_web/logincss.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <body>
    <form method="post" action=".">
    <div class="imgcontainer">
      <img src="{% static 'irfoton_web/logo.png' %}" alt="Avatar">
    </div>
    <div class="container">
      <h3><b>Registracija</b></h3>
        {% csrf_token %}
        {{ form.as_table }}  
        <button type="submit" >Registracija</button>
      <br/>
     </div>
      <div class="container" style="background-color:#f1f1f1">
      <span>Imaš že uporabniški račun?</span>
      <a href="{% url 'logout' %}">
        <button type="button" class="registerbtn">Prijava</button>
      </a>
      </div>
      <form>
  </body>
</html>