{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FRI vremenska postaja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'friws/style.css' %}">
  </head>
  
  <body>
    <header>
     <div class="spanner"></div>
     <div class="centered">
        <a href="/"><img src="logo.svg" alt="logo"/></a>
        <span>FRI vremenska postaja</span>
        {% if user.is_authenticated %}
        <span class="header-links">Logged in as {{ user.username }}.
          <a href="{% url 'logout' %}">Logout</a>
        </span>
        {% else %}
        <form method="POST" action="#" class="header-links">
         {% csrf_token %}
         {{ loginForm.as_table }}
         <input type="submit" value="Login" />
        </form>
        {% endif %}
      </div>
      <div class="spanner"></div>
    </header>
    <div class="content">
      <div class="spanner"></div>
      <div class="main centered">
        <nav>
          <ul>
            <li><a href="news.html">Novice</a></li>
            <li><a href="measurements.html">Meritve</a></li>
            <li><a href="history.html">Zgodovina</a></li>
            <li><a href="api.html">API</a></li>
          </ul>
        </nav>
        <section class="">
        {% block main %}
          test123
        {% endblock %}
        </section>
      </div>
      <div class="spanner"></div>
    </div>
    <footer>
      <div class="spanner"></div>
      <div class="centered">
        <a href="/legal.html">Pravna obvestila</a> |
        <a href="/authors.html">Avtor strani</a>
      </div>
      <div class="spanner"></div>
    </footer>
  </body>
</html> 
