{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>FRI vremenska postaja</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'fri_ws_web/style.css' %}">
  </head>
  
  <body>
    <header>
     <div class="spanner"></div>
     <div class="centered">
        <a href="/"><img src="{% static 'fri_ws_web/logo.svg' %}" alt="logo"/></a>
        <span>FRI vremenska postaja</span>
        <div class="header-links">
            {% if user.is_authenticated %}
            Logged in as {{ user }}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <form method='POST' action='#'>
                {% csrf_token %}
                {{ loginForm.as_table }}
                 <input type="submit" value="Login" />
            </form>
            {% endif %}
        </div>
      </div>
      <div class="spanner"></div>
    </header>
 <div class="content">
      <div class="spanner"></div>
      <div class="main centered">
        <nav>
          <ul>
            <li><a href="{% url 'index' %}">Novice</a></li>
            <li><a href="measurements.html">Meritve</a></li>
            <li><a href="history.html">Zgodovina</a></li>
            <li><a href="api.html">API</a></li>
          </ul>
        </nav>
        <section class="">
{% block content %}
{% endblock %}
        </section>
      </div>
      <div class="spanner"></div>
    </div>
    <footer>
      <div class="spanner"></div>
      <div class="centered">
        <a href="/legal.html">Pravna obvestila</a> |
        <a href="/authors.html">Avtor strani</a>
      </div>
      <div class="spanner"></div>
    </footer>
  </body>
</html> 
