{% extends 'irfoton_web/base.html' %}
{% load staticfiles %}

{% block naslov %}
  <title>IRFoton - Izdelaj si ponudbo</title>
{% endblock %}

{% block linki-up %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main centered-content" id="tloris">
  <div class="sobe" id = "sobeDiv">
      <div id="soba1">
        <span style="line-height:30px;"><b>VNOS SOBE</b></span><br/>
        <form method= "POST" id="vstavi-sobo">
            {% csrf_token %}
            <label>Ime sobe</label> 
            <div class= "vnos">
              <input type="text" id ="imeSobe" name="ime" title="Vpišite ime sobe" placeholder="npr. kuhinja" required /><br/>
            </div><br/>
            <label>Dolžina(m<sup>2</sup>):</label> 
            <div class= "vnos">
              <input type="number" step="any" name="dolzina" id = "merax1" required />
            </div><br/>
            <label>Širina(m<sup>2</sup>):</label> 
            <div class= "vnos">
              <input type="number" step="any" name="sirina" id = "meray1" required />
            </div><br/>
            <label id ="st-sten-text">Število zunanjih sten: </label> 
            <div class= "vnos">
              <input type="number" name="st_sten" id = "ststen1" class="st-sten" required />
            </div><br>
            <label>Namembnost sobe:</label>
            <div class= "vnos">
              <select name="namembnost" id="namembnost1">
                <option value="spalnica">spalnica</option>
                <option value="kuhinja">kuhinja</option>
                <option value="hodnik">hodnik</option>
                <option value="dnevna soba">dnevna soba</option>
                <option value="delovna soba">delovna soba</option>
                <option value="kuhinja">kuhinja</option>
                <option value="kopalnica">kopalnica</option>
              </select>
            </div><br><br><br>
          <label><input type="submit" name="nova_soba" value="Ustvari novo sobo" class ="novasoba" id = "shraniBtn"/></label>
        <!--<button id ="obrni" value = "Obrni">Zarotiraj sobo</button>-->
      </div>
      <input type="submit" name="posodobi_sobo" value="Posodobi" class ="izracunaj" id = "posodobiBtn" disabled = "true"/>
      <input type="submit" name="izbrisi_sobo" value="Izbriši" class ="izracunaj" id = "izbrisiBtn" disabled = "true"/>
      </form>
      <input type="button" value="Izracunaj" class ="izracunaj" id = "izracunBtn"/>
  </div>
  <div class = "toggleDiv" id ="toggleDivId">
    <button id ="toggle"><i class="material-icons">tune</i></button>
  </div>
  <div class="content">
    <span>Naloži tloris: </span><input type="file" id= "uplImg"><br>
    <div id="videoDiv" style = "visibility:hidden;">
      <video id="videoEle" width="640" height="480" autoplay></video><br>
      <input type=button value="Save Image" style="float:left;" id="saveImgButton"/><br>
    </div>
    <input type=button value="Zajemi tloris iz Webkamere" id="camOnButton"/><br>
    <canvas id="c" style="display:none;" width="1280" height="960"></canvas>
    <div id = "tloris-div" style="background-image: url(https://dummyimage.com/1280x960/fff/fff.png)">
     <img id ="tloris-hidden" alt ="tloris" src="https://dummyimage.com/1280x960/fff/fff.png" style='visibility: hidden;' />
    <div id="merilo">
      <span><b>Merilo</b></span>
      <div id = "meritev-vpis">
        <form class="potrdi-meritev" id="vpisMerila">
          <input type="text"  form="vstavi-sobo" name="merilo" style="width:30px;" id = "meritev" required /> <span>m</span> 
          <div id = "meritevBtn">
            <input type="submit" form="vstavi-sobo" value="Potrdi" style="width: 50px; padding:3px;" disabled/>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block linki-down %}
  <script type="text/javascript"> 
      var izolacija_sten = "{{stanovanje.izolacija_sten}}";
      var izolacija_tal = "{{stanovanje.izolacija_tal}}";
      var nacin_montaze = "{{stanovanje.nacin_montaze}}";
      var visina_stropa = "{{stanovanje.visina_stropa}}";
      var temp_primankljaj = "{{stanovanje.temp_primankljaj}}";     
      var merilo = "{{stanovanje.merilo}}";

      var st_sob = 0;
      var st_panelov = 0;      
      var sobe = []
      var paneli = []

      {% for s in soba %}
      sobe[st_sob] = {id:"{{s.id}}", ime:"{{s.ime}}", height:"{{s.height}}",
      width:"{{s.width}}", pos_x:"{{s.pos_x}}", pos_y:"{{s.pos_y}}",
      zun_stene:"{{s.zun_stene}}",namembnost:"{{s.namembnost}}"};
      console.log(sobe[st_sob]);
      st_sob++;
      {% endfor %}
      {% for p in paneli %}
        paneli["{{p.moc}}"] = {moc:"{{p.moc}}", height:"{{p.height}}",
        width:"{{p.width}}", cena:"{{p.cena}}",};
        st_panelov++;
      {% endfor %}
      var url = "{% url 'nova_soba' %}";
      var url_update = "{% url 'posodobi_pozicijo' %}";
      var url_posodobi = "{% url 'posodobi_sobo' %}"; 
      var url_izbrisi = "{% url 'izbrisi_sobo' %}";    

    </script> 

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>    
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="{% static 'irfoton_web/jquery.ui.touch-punch.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'irfoton_web/script.js' %}"></script>
{% endblock %}
