{% extends 'irfoton_web/base.html' %}
{% load staticfiles%}

{% block naslov %}
    <title>IRFoton - Izdelaj si ponudbo</title>
{% endblock %}

{% block linki-up %}
{% endblock %}

{% block content %}
   <div class="main centered-content" id="tloris">
      <section class="content">
        <form method="POST" action="#" class="contentPodatki ozje">
         {% csrf_token %}
         <h3>Podatki o stanovanju</h3><br/>         
         <span>Izolacija sten/oken:</span>
         <select name="izolacija_sten" required>
          <option value="1.6"
          {% if stanovanje.izolacija_sten == 1.6 %} selected="selected"{% endif %}>brez(enojno steklo)</option>
          <option value="1.2"
          {% if stanovanje.izolacija_sten == 1.2 %} selected="selected"{% endif %}>slaba cca 5 cm (dvojno steklo+žlahtni plin) </option>
          <option value="1.0"
          {% if stanovanje.izolacija_sten == 1.0 %} selected="selected"{% endif %}>dobra cca 10cm (dvojno steko+žlahtni plin)</option>
          <option value="0.75"
          {% if stanovanje.izolacija_sten == 0.75 %} selected="selected"{% endif %}>zelo dobra cca 20 cm (trojno steklo+žlahtni plin)</option>
         </select>
        <br>
         <span>Izolacija tal/stropa:</span>
         <select name="izolacija_tal" required>
          <option value="0.9"
          {% if stanovanje.izolacija_tal == 0.9 %} selected="selected"{% endif %}>zelo dobro izoliran tla in strop</option>
          <option value="1"
          {% if stanovanje.izolacija_tal == 1 %} selected="selected"{% endif %}>dobro izolirana tla in strop</option>
          <option value="1.15"
          {% if stanovanje.izolacija_tal == 1.15 %} selected="selected"{% endif %}>brez ali slabo izolirana tla in strop</option>
         </select>
        <br>
         <span>Letni temperaturni primanjklaj:</span>
         <ul class="flex-container wrap">
          <input type="radio" value="0.85" name="temp_primankljaj" 
          {% if stanovanje.temp_primankljaj == 0.85 %} checked="checked"{% endif %}> pod 3000 (primer Portorož)<br>
          <input type="radio" value="1" name="temp_primankljaj" 
          {% if stanovanje.temp_primankljaj == 1 %} checked="checked"{% endif %}> 3000-4000 (primer Ljubljana)<br>
          <input type="radio" value="1.15" name="temp_primankljaj" 
          {% if stanovanje.temp_primankljaj == 1.15 %} checked="checked"{% endif %}> nad 4000 (primer Babno polje)<br>
        </ul>
        <p class="flex-container wrap">
        <span>Višina stropa:  </span>
        <input style="margin-left:30px;" name="visina_stropa" id = "visina_stropa" {% if stanovanje.visina_stropa %} value={{stanovanje.visina_stropa}} {% endif %} required />
        <span>m  </span>
        </p>
         <span>Način montaže:  </span>
          <ul class="flex-container wrap">
          <input type="radio" value="1" name="nacin_montaze"  
          {% if stanovanje.nacin_montaze == 1 %} checked="checked"{% endif %}> Stropna montaža<br>
          <input type="radio" value="1.2" name="nacin_montaze" 
          {% if stanovanje.nacin_montaze == 1.2 %} checked="checked"{% endif %}> Stenska montaža<br>
          </ul>
        <br>
        <button type="submit" >Shrani</button>
        </form>
      </section>
    </div>
{% endblock %}

{% block linki-down %}
{% endblock %}
